Repository rust-random/rand, pull requests merged in 2018-04, with the labels that each got.

#325 Implement `BlockRngCore` ISAAC and ISAAC-64
  .travis.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  UPDATING.md
  appveyor.yml
  rand_core/Cargo.toml
  rand_core/src/impls.rs
  rand_core/src/lib.rs
  src/lib.rs
  src/prng/chacha.rs
  src/prng/isaac.rs
  src/prng/isaac64.rs
  src/prng/isaac_array.rs
  src/prng/mod.rs
  src/prng/xorshift.rs
  src/reseeding.rs
  utils/ci/script.sh
Labels: T-RNG

#402 Release: prepare rand_core 0.1.0
  CHANGELOG.md
  Cargo.toml
  rand_core/CHANGELOG.md
  rand_core/Cargo.toml
  rand_core/src/lib.rs
Labels: E-question

#395 Rename "range" to "uniform"
  benches/distributions.rs
  examples/monte-carlo.rs
  examples/monty-hall.rs
  src/distributions/mod.rs
  src/distributions/other.rs
  src/distributions/uniform.rs
  src/lib.rs
Labels: B-API, E-question, P-high, T-distributions, X-discussion

#374 ChaCha: support reading counter and setting nonce
  benches/generators.rs
  rand_core/src/impls.rs
  src/prng/chacha.rs
Labels: B-API, E-question, P-medium, X-discussion
